Language: Cpp
BasedOnStyle: Google

AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: False
BinPackParameters: False
ContinuationIndentWidth: 4

IndentWidth: 2
AccessModifierOffset: -2
ColumnLimit: 100
PointerAlignment: Left
MaxEmptyLinesToKeep: 1
SpacesBeforeTrailingComments: 2
FixNamespaceComments: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
# PenaltyBreakBeforeFirstCallParameter: 9999
