BasedOnStyle: google
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakTemplateDeclarations: true
ContinuationIndentWidth: 4
IndentWidth: 2
ColumnLimit: 100
AccessModifierOffset: -1
PointerAlignment: Left
MaxEmptyLinesToKeep: 1
FixNamespaceComments: true
AlignTrailingComments: true
SpacesBeforeTrailingComments: 2
SortIncludes: CaseSensitive
IncludeBlocks: Merge
IncludeCategories:
  - Regex: ".*"
    Priority: 1
PackConstructorInitializers: NextLineOnly
RequiresClausePosition: SingleLine
